/* Styles for Mobile Screens */
@media (max-width: 700px) {
    .logo-name{
        margin-right: 2.5vw;
    }
    .navbar button span{
        font-size: 2vw;
    }
    .video-container{
        height: 65vh;
        border: 1px solid red;
    }
    .video-container video{
        height: 50%;
        /* width: 100%; */
        object-fit: contain;
    }
}
.video-container{
    height: 80vh;
    border: 1px solid red;
}

.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
